.w-70 {
  width: 70%;
}

.my-custom-font-size li {
  font-size: 18px; /* You can adjust the font size as needed */
}

.my-custom-font-size li:hover {
  font-weight: bolder;
  color: white;
}

.my-custom-font-size li:active {
  font-weight: bolder;
}

.icon-button {
  color: black;
}

.icon-button:hover {
  color: lightgreen;
}

.scrollable-cards {
  display: flex;
  overflow-x: scroll; /* Enable horizontal scrolling */
  gap: 16px; /* Adjust the gap between cards */
  padding: 16px; /* Add padding to the container */
  /* Additional styling as needed */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollable-cards::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers (e.g., Chrome, Safari) */
}

.card {
  flex: 0 0 auto; /* Prevent cards from growing to fit container */
}

/* //for second */
.scrollable-cards-2 {
  display: flex;
  overflow-x: scroll;
  gap: 16px;
  padding: 16px;
  /* Additional styling as needed */
}

.scrollable-cards-2::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

.scrollable-cards-2::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
}

.scrollable-cards-2::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.scrollable-cards-2::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.scrollable-cards-2::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}

/* For Firefox */
.scrollable-cards-2 {
  scrollbar-width: thin;
}

.scrollable-cards-2::-webkit-scrollbar {
  width: 12px;
}

.scrollable-cards-2::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.scrollable-cards-2::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollable-cards-2::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-cards-2::-webkit-scrollbar-button {
  display: none;
}
